@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root{
    --color01:#573824;
    --color02:#F0E8C2;
    --color03:#291b1a;
    --color04:#573A37;
    --color05:#f0e8c2;

    --font-destaque:'Alice', cursive;
    line-height: 150%;
    color: var(--color04);
}

body{
    font-family: var(--font-destaque);
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#page{
    box-sizing: border-box;
    padding: 24px;
    background-color: var(--color02);
    width: 800px;
    height: 1440px;
    border-radius: 24px;
    margin: 48px auto;
}

img{
border-radius: 16px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    color: var(--color03);
}

h2{
  font-size: 24px; 
  color: var(--color03);
}

footer{
    text-align: center;
    color:var(--color05)
}
